@import "variables";
@import "functions";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $primary-font;
  font-size: $font-size-default;
  color: $primary-color;
  font-weight: 400;
}
